<h1>Questions</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

<div class="form-group">
  <form class="form-control"action="/answer" method="get">
    <input type="text" name="question" placeholder="questions ?">
    <input type="submit">
  </form>
</div>
<a href="http://localhost:3000/ask">Ask a new question</a>
